.cover__link {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    min-height: 740px;
    position: relative;

=======
    display: block;
    height: 740px;
    position: relative;
    overflow: auto;
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}

.cover__link:hover .cover__overlay {
    opacity: 50%;
<<<<<<< HEAD
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }

}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }

}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }

=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}