.card__paragraph {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;

<<<<<<< HEAD
}

@media screen and (max-width: 1023px) {
    .card__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .card__paragraph {
        padding: 0 16px;
    }
=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}