.places {
    padding: 115px 20px 0px 276px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
<<<<<<< HEAD
}

@media screen and (max-width: 1279px) {
    .places {
        padding: 92px 48px 0;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        padding: 88px 24px 0;
        row-gap: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding: 64px 0 0;
        row-gap: 50px;
    }
=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}