.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
<<<<<<< HEAD
    max-width: 640px;
    margin: 32px 0 64px;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin: 16px 0 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        max-width: 288px;

    }
=======
    width: 50vw;
    margin: 32px auto 64px;
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}