.intro__main-text {
<<<<<<< HEAD
    width: 690px;
=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 40px 0 33px;
<<<<<<< HEAD
}

@media screen and (max-width: 1023px) {
    .intro__main-text {
        width: 100%;
    }
=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}