.intro__main-text {
    width: 690px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 40px 0 33px;
}

@media screen and (max-width: 1023px) {
    .intro__main-text {
        width: 100%;
    }
}