.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 32px;
<<<<<<< HEAD
}

@media screen and (max-width: 1023px) {
    .card {
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        grid-template-columns: 1fr;
        gap: 32px;
    }
=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}