.intro__title {
<<<<<<< HEAD
    width: 690px;
=======
>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
<<<<<<< HEAD
    margin: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 100%;
    }
=======

>>>>>>> e56df6657756f89dd898768933b2788fd3c6512b
}